[submodule "Apple/Submodules/JAListView"]
	path = Apple/Submodules/JAListView
	url = https://github.com/joshaber/JAListView
[submodule "Apple/Submodules/PXListView"]
	path = Apple/Submodules/PXListView
	url = https://github.com/Perspx/PXListView.git
[submodule "Apple/Submodules/DMTabBar"]
	path = Apple/Submodules/DMTabBar
	url = https://github.com/malcommac/DMTabBar.git
